<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_Access::access" title="Custom menu" module="Perspective_Access" sortOrder="51" resource="Perspective_Access::access"/>
        <add id="Perspective_Access::post" title="Manage Posts" module="Perspective_Access" sortOrder="10" action="perspective_access/post" resource="Perspective_Access::post" parent="Perspective_Access::access"/>
        <add id="Perspective_Access::access_configuration" title="Configuration" module="Perspective_Access" sortOrder="99" parent="Perspective_Access::access" action="adminhtml/system_config/edit/section/access" resource="Perspective_Access::access_configuration"/>
    </menu>
</config>
