<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Perspective_Access::access" title="Custom Perm" sortOrder="51">
                    <resource id="Perspective_Access::post" title="Posts" sortOrder="10"/>
                    <resource id="Perspective_Access::access_configuration" title="Configuration" sortOrder="1" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Perspective_Access::access_config" title="Custom Perm"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
